.row(align="center")
		table#le_table
		div#le_tablePager
		div#le_tableNavigator
	script(type='text/javascript').
		$(function(){
			var grid=$("#le_table" );
			var t;
			$("#le_table").jqGrid({
				url:"/get_spr_period_data",
				editurl:"/set_spr_period_data",
				mtype: 'POST',
				datatype: 'JSON',
				colNames:['Період','Найменування періоду','Дата початку','Дата закінчення','Робочих кал. днів',''],
				colModel :[
				{name:'period', index:'period', width:70,editable:true,editrules:{integer:true,required: true}},
				{name:'naimenovanie', index:'naimenovanie', width:170,editable:true,editrules:{required: true}},
				{name:'datan', index:'datan', width:85,editable:true,formatter: 'date',editrules:{required: true},formatoptions: { srcformat: 'ISO8601Long', newformat: 'd.m.Y'},
				editoptions:(
					{dataInit: function(elem) {$(elem).datepicker({
					monthNamesShort: [ "Янв", "Фев", "Мар", "Апр", "Май", "Июнь", "Июль", "Авг", "Сент", "Окт", "Ноя", "Дек" ],
					autoSize: false,
					changeMonth: true,
					changeYear: true,
					dateFormat: 'dd.mm.yy',
					yearRange: '2000:2050'
					});
				},size:10
				})
				},
				{name:'datak', index:'datak', width:85,editable:true,formatter:'date',editrules:{required: true},formatoptions: { srcformat: 'ISO8601Long', newformat: 'd.m.Y'},
				editoptions:(
					{dataInit: function(elem) {$(elem).datepicker({
					monthNamesShort: [ "Янв", "Фев", "Мар", "Апр", "Май", "Июнь", "Июль", "Авг", "Сент", "Окт", "Ноя", "Дек" ],
					autoSize: false,
					changeMonth: true,
					changeYear: true,
					dateFormat: 'dd.mm.yy',
					yearRange: '2010:2050'
					});
				},size:10
				})},
				{name:'rkd', index:'rkd', width:60,editable:true,editrules:{integer:true},editoptions:{size:4}},
				{name:'oldperiod', index:'oldperiod', editable:true, hidden:true}
				],
				cmTemplate: {sortable:false},
				rowList: [],
				rowNum:-1,
				pgbuttons: false,
				pgtext: null,
				pager:'#le_tablePager',
				height:'350',
				shrinkToFit: false
				}).navGrid('#le_tablePager',{edit:true, add:true, del:true, search:false},
				{
				width:400,
				afterShowForm : function(formid){				
				t = $("#period").val();
				return[true];
				}, 
				afterclickPgButtons : function(whichbutton, formid, rowid){
				t = $("#period").val();
				return[true];
				}, 
				beforeSubmit:function(postdata, formid) {
				postdata.oldperiod = t;
				if($("#datan").val()>$("#datak").val()){
				return [false,"Дата початку більша за дату закінчення"];
				} else {
				return[true,""];}},
				closeAfterEdit:true
				},
				{
				beforeSubmit:function(postdata, formid) {
				if($("#datan").val()>$("#datak").val()){
				return [false,"Дата початку більша за дату закінчення"];
				} else {
				return[true,""];
				}
				},
				closeAfterAdd:true
				},
				{
				onclickSubmit:function(postdata, rowid) {
				var rowData = $(this).jqGrid("getRowData", rowid);
				return{period:rowData.period};}				
				}
				).jqGrid('bindKeys');
				});