doctype html
html
 include layouts/header 
 body
  div.container-fluid
    div#title.row
      p Розрахунок лікарняних
    include layouts/menu
    script(src="/sc/menu.js")
    #contain.row(style="min-height:530px;")
      #content.row
        #search.col-xs-3
          include search_emloyee
        #employees.col-xs-7
      #empl.row
    include layouts/footer