h3(align="center",style="padding-bottom:5px;") Пошук співробітника
div(align="center",style="margin-bottom:5px;")
	span.mylabel ПІБ(або частина)
	input#sss(type="text", name="fio")
div.actions(align="center")
	button#searchbutton.btn.btn-default(type="button") Знайти
script(src="/sc/search_action.js")