head
  title #{title}
  link(rel="stylesheet",href="/css/bootstrap.min.css")
  link(rel="stylesheet",href="/css/jquery-ui.min.css")
  link(rel="stylesheet",href="/css/bootstrap-theme.min.css")
  link(rel="stylesheet",href="/css/main.css")
  script(src="/sc/jquery.min.js")
  script(src="/sc/bootstrap.min.js")
  script(src="/sc/jquery-ui.min.js")